In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import os
from IPython.display import display
import glob

In [3]:
files1 = [
    "Annual_Surface_Temperature_Change.csv",
    "Climate-related_Disasters_Frequency.csv"
]

dfs = []
for file in files1:
    df = pd.read_csv(file).drop(columns=['ObjectId'])
    id_vars = ['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 
               'CTS_Full_Descriptor']
    df = pd.melt(df, id_vars=id_vars, var_name='year', value_name='value')
    df['Year'] = df['year'].str.extract('(\d+)').astype(int)
    df = df.drop(columns=['year'])
    cols = ['Year', 'Country'] + [col for col in df.columns if col not in ['Year', 'Country']]
    df = df[cols]
    dfs.append(df)

surface_temperature, disasters_frequency = dfs

display(surface_temperature.head())
display(disasters_frequency.head())

surface_temperature.to_csv("Updated_surface_temperature.csv", index=False)
disasters_frequency.to_csv("Updated_disasters_frequency.csv", index=False)


for file in files1:
    df = pd.read_csv(file)
    total_rows = len(df)
    nan_rows = df.isna().any(axis=1).sum()
    proportion = nan_rows / total_rows if total_rows > 0 else 0
    print(f"{file}: {nan_rows} rows contain NaN ({proportion:.2%})")

,Year,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,value
0,1961,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.113
1,1961,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.627
2,1961,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.164
3,1961,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.079
4,1961,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.736

,Year,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,value
0,1980,"Afghanistan, Islamic Rep. of",AF,AFG,"Climate related disasters frequency, Number of...",Number of,"The Emergency Events Database (EM-DAT) , Centr...",ECCD,Climate Related Disasters Frequency,"Environment, Climate Change, Climate Indicator...",NaN
1,1980,"Afghanistan, Islamic Rep. of",AF,AFG,"Climate related disasters frequency, Number of...",Number of,"The Emergency Events Database (EM-DAT) , Centr...",ECCD,Climate Related Disasters Frequency,"Environment, Climate Change, Climate Indicator...",NaN
2,1980,"Afghanistan, Islamic Rep. of",AF,AFG,"Climate related disasters frequency, Number of...",Number of,"The Emergency Events Database (EM-DAT) , Centr...",ECCD,Climate Related Disasters Frequency,"Environment, Climate Change, Climate Indicator...",1.0
3,1980,"Afghanistan, Islamic Rep. of",AF,AFG,"Climate related disasters frequency, Number of...",Number of,"The Emergency Events Database (EM-DAT) , Centr...",ECCD,Climate Related Disasters Frequency,"Environment, Climate Change, Climate Indicator...",NaN
4,1980,"Afghanistan, Islamic Rep. of",AF,AFG,"Climate related disasters frequency, Number of...",Number of,"The Emergency Events Database (EM-DAT) , Centr...",ECCD,Climate Related Disasters Frequency,"Environment, Climate Change, Climate Indicator...",NaN

Annual_Surface_Temperature_Change.csv: 69 rows contain NaN (30.67%)
Climate-related_Disasters_Frequency.csv: 956 rows contain NaN (98.56%)

In [5]:
files2 = [
    "Biofuels.csv",
    "Coal and coke.csv",
    "Electricity.csv",
    "emissions.csv",
    "Hydrocarbon gas liquids.csv",
    "Natural gas.csv",
    "Petroleum and other liquids.csv",
    "Primary energy(quadrillion BTU).csv"
]
for file in files2:
    df = pd.read_csv(file)
    num_rows_with_nan = df.isna().any(axis=1).sum()
    total_rows = len(df)
    print(f"{file}: {num_rows_with_nan} / {total_rows} rows with NaN values")

Biofuels.csv: 1242 / 1664 rows with NaN values
Coal and coke.csv: 577 / 4439 rows with NaN values
Electricity.csv: 6151 / 17204 rows with NaN values
emissions.csv: 3299 / 3323 rows with NaN values
Hydrocarbon gas liquids.csv: 1983 / 2219 rows with NaN values
Natural gas.csv: 2824 / 3929 rows with NaN values
Petroleum and other liquids.csv: 7769 / 7769 rows with NaN values
Primary energy(quadrillion BTU).csv: 565 / 4431 rows with NaN values

In [11]:
files2 = [
    "Biofuels.csv",
    "Coal and coke.csv",
    "Electricity.csv",
    "emissions.csv",
    "Hydrocarbon gas liquids.csv",
    "Natural gas.csv",
    "Petroleum and other liquids.csv",
    "Primary energy(quadrillion BTU).csv"
]

def process_file(file_name):
    df = pd.read_csv(file_name)

    if 'Unnamed: 1' in df.columns:
        df = df.rename(columns={'Unnamed: 1': 'Country'})
    
    if 'API' in df.columns:
        df = df.drop(columns=['API'])
        
    df.to_csv(f"processed_{file_name}", index=False)

for file in files2:
    process_file(file)

In [5]:
for file in files21:
    df = pd.read_csv(file)
    total_rows = len(df)
    nan_rows = df.isna().any(axis=1).sum()
    proportion = nan_rows / total_rows if total_rows > 0 else 0
    print(f"{file}: {nan_rows} rows contain NaN ({proportion:.2%})")

processed_Petroleum and other liquids.csv: 7768 rows contain NaN (100.00%)
processed_Natural gas.csv: 2823 rows contain NaN (71.87%)
processed_Hydrocarbon gas liquids.csv: 1982 rows contain NaN (89.36%)
processed_Electricity.csv: 6151 rows contain NaN (35.76%)
processed_Coal and coke.csv: 577 rows contain NaN (13.00%)
processed_Biofuels.csv: 1242 rows contain NaN (74.68%)

In [18]:
primary_energy = pd.read_csv("Primary energy(quadrillion BTU).csv")
unique_countries = primary_energy['Unnamed: 1'].unique()

print(unique_countries)

['    Production (quad Btu)' '        Coal (quad Btu)'
 '        Natural gas (quad Btu)'
 '        Petroleum and other liquids (quad Btu)'
 '        Nuclear, renewables, and other (quad Btu)'
 '            Nuclear (quad Btu)'
 '            Renewables and other (quad Btu)' 'Austria' 'Belgium'
 'Bulgaria' 'Croatia' 'Cyprus' 'Czechia' 'Denmark' 'Estonia' 'Finland'
 'Former Czechoslovakia' 'France' 'Germany' 'Germany, East'
 'Germany, West' 'Greece' 'Hungary' 'Ireland' 'Italy' 'Latvia' 'Lithuania'
 'Luxembourg' 'Malta' 'Netherlands' 'Poland' 'Portugal' 'Romania'
 'Slovakia' 'Slovenia' 'Spain' 'Sweden' 'Non-OECD' 'Afghanistan' 'Albania'
 'Algeria' 'Angola' 'Antarctica' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Aruba' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Burkina Faso' 'Burma' 'Burundi' 'Cabo Verde' 'Cambodia'
 'Cameroon' 'Cayman Islands' 'Central African Republic' 'Chad' 'China'
 'Comoros' 'Congo-Brazzaville' 'Congo-Kinshasa' 'Cook Islands'
 "Cote d'Ivoire" 'Cuba' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Eswatini'
 'Ethiopia' 'Falkland Islands' 'Faroe Islands' 'Fiji'
 'Former Serbia and Montenegro' 'Former U.S.S.R.' 'Former Yugoslavia'
 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia, The' 'Georgia'
 'Ghana' 'Gibraltar' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Jamaica' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Macau' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Martinique' 'Mauritania' 'Mauritius' 'Micronesia' 'Moldova'
 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands Antilles' 'New Caledonia' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Korea' 'North Macedonia'
 'Northern Mariana Islands' 'Oman' 'Pakistan' 'Palestinian Territories'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Qatar'
 'Reunion' 'Russia' 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon' 'Saint Vincent/Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Solomon Islands' 'Somalia'
 'South Africa' 'South Sudan' 'Sri Lanka' 'Sudan' 'Suriname' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'The Bahamas' 'Timor-Leste'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'U.S. Pacific Islands' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Wake Island' 'Western Sahara' 'Yemen' 'Zambia'
 'Zimbabwe' 'Non-OPEC' 'American Samoa' 'Australia' 'Canada' 'Chile'
 'Colombia' 'Costa Rica' 'Guam' 'Hawaiian Trade Zone' 'Iceland' 'Israel'
 'Japan' 'Mexico' 'New Zealand' 'Norway' 'Puerto Rico' 'South Korea'
 'Switzerland' 'Turkiye' 'U.S. Territories' 'U.S. Virgin Islands'
 'United Kingdom' 'United States' 'Persian Gulf' 'OPEC - South America'
 'OPEC - Africa' 'OPEC' 'OECD - North America' 'OECD - Asia And Oceania'
 'OECD - Europe' 'OECD']

In [19]:

energy_df = pd.read_csv('Primary energy(quadrillion BTU).csv')

def map_energy_type(value):
    if value in [
        '    Production (quad Btu)',
        '        Coal (quad Btu)',
        '        Natural gas (quad Btu)',
        '        Petroleum and other liquids (quad Btu)',
        '        Nuclear, renewables, and other (quad Btu)',
        '            Nuclear (quad Btu)',
        '            Renewables and other (quad Btu)'
    ]:
        return value
    else:
        return None 

energy_df['Type of Energy'] = energy_df['Unnamed: 1'].apply(map_energy_type)

if 'API' in energy_df.columns:
    energy_df = energy_df.drop(columns=['API'])

columns = list(energy_df.columns)
if 'Type of Energy' in columns:
    columns.remove('Type of Energy')
    columns.insert(1, 'Type of Energy')
energy_df = energy_df[columns]

values_to_replace = [
    '    Production (quad Btu)',
    '        Coal (quad Btu)',
    '        Natural gas (quad Btu)',
    '        Petroleum and other liquids (quad Btu)',
    '        Nuclear, renewables, and other (quad Btu)',
    '            Nuclear (quad Btu)',
    '            Renewables and other (quad Btu)'
]

energy_df['Unnamed: 1'] = energy_df['Unnamed: 1'].astype(str).replace(values_to_replace, '')
energy_df = energy_df.rename(columns={'Unnamed: 1': 'Country'})
new_df2 = pd.concat([pd.DataFrame({'Country': ['European Union']}), energy_df], ignore_index=True)

total_rows = len(new_df2)
nan_rows = new_df2['Country'].isna().sum()
proportion_nan = nan_rows / total_rows if total_rows > 0 else 0
print(f"Proportion of NaN values: {proportion_nan:.2%}")

new_df2.head(20)

new_df2.to_csv('modified_primary_energy.csv', index=False)

Proportion of NaN values: 0.00%

,Country,Type of Energy,1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,European Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Production (quad Btu),25.42247280375135,25.631617303101056,26.23464075598175,27.03336715024558,29.87214382296293,31.137242017943567,31.50747561939628,31.756826907665292,...,23.60988679404256,22.918910312592196,22.063076562997608,21.35284214472699,21.08219229838103,20.742299148431364,19.831749929148387,18.119113016233367,18.834648763122555,17.355380972711597
2,,Coal (quad Btu),15.974465135754876,15.686072870597357,16.431467059160603,16.462883846026156,16.814796294305236,17.095813338864456,17.101171578290174,16.932104637775158,...,5.9448520158886735,5.6696794887424415,5.606485891714504,5.226383027905209,5.171614540387495,4.900326685622359,4.227527308822338,3.5124028996754344,3.7910848645634534,3.7194833709394253
3,,Natural gas (quad Btu),6.3089346,6.1652379,5.78354,5.9876936,6.0493976,6.0777928,5.8725963,5.9611368,...,4.343589419072742,3.682310547682472,3.134111727565398,3.0899756308110917,2.9129224182608775,2.6000335068444027,2.2941567134598384,1.8147159963953359,1.6770850203207792,1.5504517936445783
4,,Petroleum and other liquids (quad Btu),0,0,0,0,1.3186148767404968,1.3654111786397638,1.4233188047462118,1.4674480909122611,...,1.1746042263503438,1.1640954705865265,1.116777625464159,0.9813564864084638,0.9511727830139859,0.9270477437310991,0.8627297074049656,0.8605941557450906,0.8244073804780659,0.7662997249338349
5,,"Nuclear, renewables, and other (quad Btu)",3.139073067996473,3.7803065325036975,4.019633696821149,4.582789704219429,5.6893350519171975,6.5982247004393475,7.110388936359894,7.396137378977874,...,12.146841132730799,12.402824805580755,12.205701318253546,12.055126999602225,12.046482556718674,12.314891212233503,12.447336199461244,11.931399964417507,12.542071497760258,11.31914608319376
6,,Nuclear (quad Btu),2.01755652510157,2.6802033891115076,2.9365320014698155,3.4871658405621866,4.561760587910947,5.466393697750254,6.023479532302228,6.252353645147975,...,7.934289984556186,7.996855036651479,7.747812737889196,7.556485521003166,7.478659205554019,7.5067783647622734,7.549267345544007,6.713497604836161,7.227046355634952,6.03349764760203
7,,Renewables and other (quad Btu),1.121516542894903,1.10010314339219,1.0831016953513333,1.0956238636572428,1.12757446400625,1.1318310026890939,1.086909404057666,1.1437837338298995,...,4.212551148174613,4.4059697689292765,4.45788858036435,4.498641478599058,4.567823351164656,4.80811284747123,4.898068853917237,5.217902359581346,5.315025142125306,5.285648435591729
8,Austria,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,,Production (quad Btu),0.21452373240573683,0.20308771757966934,0.20358540659654842,0.19465566511824595,0.24583076571131385,0.24855600126250232,0.24598271031742397,0.224200741426821,...,0.29895581182855047,0.29896505721853667,0.289791489504477,0.2932365264847408,0.2930488097416629,0.27847532607819153,0.2932662161025009,0.28589517052434804,0.28012123010867296,0.2447300539594261
10,,Coal (quad Btu),0.039374645894239155,0.04206833894668972,0.04531176527515061,0.04179347230868456,0.04024047580395541,0.04234320558469488,0.04080395241186598,0.03828892267411877,...,0,0,0,0,0,0,0,0,0,0
11,,Natural gas (quad Btu),0.0747,0.055335,0.050995,0.046397,0.048555,0.04428,0.042081,0.044239,...,0.05249552175149276,0.047839455975737036,0.045742601649132714,0.042953495405684,0.045959515741832,0.03735868369007042,0.033483291847531876,0.027438091483724374,0.024666474700665197,0.02238971910667128
12,,Petroleum and other liquids (quad Btu),0,0,0,0,0.052239891999999614,0.049371213407222864,0.04938858199999995,0.04608197491324213,...,0.037064140334996165,0.039285679893085956,0.0378046535210261,0.03340737942504132,0.031167531732002613,0.029156978227607284,0.027553737077690453,0.023838118850082975,0.023823477158469764,0.021870340517937587
13,,"Nuclear, renewables, and other (quad Btu)",0.10044908651149768,0.10568437863297962,0.10727864132139782,0.10646519280956139,0.10479539790735884,0.11256158227058458,0.11370917590555803,0.09559084383946011,...,0.20939614974206153,0.21183992134971366,0.20624423433431818,0.21687565165401548,0.21592176226782833,0.21195966416051382,0.23222918717727856,0.2346189601905407,0.231631278249538,0.20046999433481724
14,,Nuclear (quad Btu),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,,Renewables and other (quad Btu),0.10044908651149768,0.10568437863297962,0.10727864132139782,0.10646519280956139,0.10479539790735884,0.11256158227058458,0.11370917590555803,0.09559084383946011,...,0.20939614974206153,0.21183992134971366,0.20624423433431818,0.21687565165401548,0.21592176226782833,0.21195966416051382,0.23222918717727856,0.2346189601905407,0.231631278249538,0.20046999433481724
16,Belgium,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,,Production (quad Btu),0.297972570876733,0.2971876222789884,0.33317998038676777,0.4048910695075914,0.4482086539511237,0.5102938647200225,0.5428387412209257,0.5354818638132953,...,0.5196762499002118,0.43505274216593603,0.365433832449453,0.5351295521280945,0.5316165522057543,0.3978347601818978,0.5505389792072436,0.47443870867551413,0.6274105613581233,0.5502646918616814
18,,Coal (quad Btu),0.16883787499226188,0.16485287743078295,0.1743649691745491,0.1623703577815998,0.16793090986844417,0.16543284603697384,0.14884426530696518,0.11500249527257128,...,0,0,0,0,0,0,0,0,0,0
19,,Natural gas (quad Btu),0.0014756,0.0011781,0.0011594,0.0006444,0.0013936,0.0014938,0.0009693,0.001059,...,0,0,0,0,0,0,0.000142556232,0.00021931728,0.000190074976,0.00049346388

In [21]:
emissions_df = pd.read_csv('Emissions.csv')
def map_emissions_type(value):
    if value in [
        '    Emissions',
        '        CO2 emissions (MMtonnes CO2)',
        '            Coal and coke (MMtonnes CO2)',
        '            Consumed natural gas (MMtonnes CO2)',
        '            Petroleum and other liquids (MMtonnes CO2)'
    ]:
        return value
    else:
        return None 

emissions_df['Type of Emission'] = emissions_df['Unnamed: 1'].apply(map_emissions_type)
emissions_df = emissions_df.drop(columns=['API'])
columns = list(emissions_df.columns)
columns.remove('Type of Emission')
columns.insert(1, 'Type of Emission')
emissions_df = emissions_df[columns]
values_to_replace = [
    '    Emissions',
    '        CO2 emissions (MMtonnes CO2)',
    '            Coal and coke (MMtonnes CO2)',
    '            Consumed natural gas (MMtonnes CO2)',
    '            Petroleum and other liquids (MMtonnes CO2)'
]

emissions_df['Unnamed: 1'] = emissions_df['Unnamed: 1'].astype(str).replace(values_to_replace, '')
emissions_df = emissions_df.rename(columns={'Unnamed: 1': 'Country'})
new_df = pd.concat([pd.DataFrame({'Country': ['European Union']}), emissions_df], ignore_index=True)

total_rows = len(new_df)
nan_rows = new_df['Country'].isna().sum()
proportion_nan = nan_rows / total_rows if total_rows > 0 else 0
print(f"Proportion of NaN values: {proportion_nan:.2%}")


new_df.to_csv('processed_emissions.csv', index=False)

Proportion of NaN values: 0.00%

In [20]:
df = pd.read_csv("Extreme Weather Events.csv")
df2 = df.drop(columns=['End Year', 'End Month', 'End Day'])
df2 = df2.rename(columns={'Start Year': 'Year', 'Start Month': 'Month', 'Start Day': 'Day'})
columns = ['Year', 'Country'] + [col for col in df2.columns if col not in ['Year', 'Country']]
df2 = df2[columns]
df2 = df2.sort_values(by='Country')

df2.to_csv("Updated_Extreme_Weather_Events.csv", index=False)

In [9]:
total_cells = df2.size
nan_cells = df2.isna().sum().sum()
proportion_nan = nan_cells / total_cells if total_cells > 0 else 0
print(f"Proportion of NaN values: {proportion_nan:.2%}")
df2.head()

Proportion of NaN values: 35.13%

,Year,Country,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
3425,2007,Afghanistan,2007-0316-AFG,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,68.047674,"[{""adm2_code"":3536,""adm2_name"":""Lal Wa Sarjang...",2007-08-07,2023-09-25
9573,2023,Afghanistan,2023-0156-AFG,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2023-03-22,2023-09-26
6101,2014,Afghanistan,2014-0185-AFG,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,NaN,3000.0,3861.0,77.694406,"[{""adm2_code"":99987,""adm2_name"":""Guzargah-e- N...",2014-06-12,2023-09-25
7566,2018,Afghanistan,2018-0189-AFG,No,nat-hyd-mmw-mud,Natural,Hydrological,Mass movement (wet),Mudslide,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.410668,"[{""adm2_code"":99944,""adm2_name"":""Khenj (Hes-e-...",2018-07-12,2023-09-25
863,2001,Afghanistan,2001-0668-AFG,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":289,""adm1_name"":""Kunduz""}]",2003-07-01,2023-09-25

In [10]:
print(df2.columns)

Index(['Year', 'Country', 'DisNo.', 'Historic', 'Classification Key',
       'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'External IDs', 'Event Name', 'ISO', 'Subregion',
       'Region', 'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response',
       'Appeal', 'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Month',
       'Day', 'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [11]:

dfC = pd.read_csv("country_hsproduct4digit_year.csv",low_memory=False)
code_to_country = {'WLD': 'World',
    'AFG': 'Afghanistan',
    'ALB': 'Albania',
    'DZA': 'Algeria',
    'ASM': 'American Samoa',
    'AND': 'Andorra',
    'AGO': 'Angola',
    'AIA': 'Anguilla',
    'ATA': 'Antarctica',
    'ATG': 'Antigua and Barbuda',
    'ARG': 'Argentina',
    'ARM': 'Armenia',
    'ABW': 'Aruba',
    'AUS': 'Australia',
    'AUT': 'Austria',
    'AZE': 'Azerbaijan',
    'BHS': 'Bahamas (the)',
    'BHR': 'Bahrain',
    'BGD': 'Bangladesh',
    'BRB': 'Barbados',
    'BLR': 'Belarus',
    'BEL': 'Belgium',
    'BLZ': 'Belize',
    'BEN': 'Benin',
    'BMU': 'Bermuda',
    'BTN': 'Bhutan',
    'BOL': 'Bolivia (Plurinational State of)',
    'BES': 'Bonaire, Sint Eustatius and Saba',
    'BIH': 'Bosnia and Herzegovina',
    'BWA': 'Botswana',
    'BVT': 'Bouvet Island',
    'BRA': 'Brazil',
    'IOT': 'British Indian Ocean Territory (the)',
    'BRN': 'Brunei Darussalam',
    'BGR': 'Bulgaria',
    'BFA': 'Burkina Faso',
    'BDI': 'Burundi',
    'CPV': 'Cabo Verde',
    'KHM': 'Cambodia',
    'CMR': 'Cameroon',
    'CAN': 'Canada',
    'CYM': 'Cayman Islands (the)',
    'CAF': 'Central African Republic (the)',
    'TCD': 'Chad',
    'CHL': 'Chile',
    'CHN': 'China',
    'CXR': 'Christmas Island',
    'CCK': 'Cocos (Keeling) Islands (the)',
    'COL': 'Colombia',
    'COM': 'Comoros (the)',
    'COD': 'Congo (the Democratic Republic of the)',
    'COG': 'Congo (the)',
    'COK': 'Cook Islands (the)',
    'CRI': 'Costa Rica',
    'HRV': 'Croatia',
    'CUB': 'Cuba',
    'CUW': 'Curaçao',
    'CYP': 'Cyprus',
    'CZE': 'Czechia',
    'CIV': 'Côte d\'Ivoire',
    'DNK': 'Denmark',
    'DJI': 'Djibouti',
    'DMA': 'Dominica',
    'DOM': 'Dominican Republic (the)',
    'ECU': 'Ecuador',
    'EGY': 'Egypt',
    'SLV': 'El Salvador',
    'GNQ': 'Equatorial Guinea',
    'ERI': 'Eritrea',
    'EST': 'Estonia',
    'SWZ': 'Eswatini',
    'ETH': 'Ethiopia',
    'FLK': 'Falkland Islands (the) [Malvinas]',
    'FRO': 'Faroe Islands (the)',
    'FJI': 'Fiji',
    'FIN': 'Finland',
    'FRA': 'France',
    'GUF': 'French Guiana',
    'PYF': 'French Polynesia',
    'ATF': 'French Southern Territories (the)',
    'GAB': 'Gabon',
    'GMB': 'Gambia (the)',
    'GEO': 'Georgia',
    'DEU': 'Germany',
    'GHA': 'Ghana',
    'GIB': 'Gibraltar',
    'GRC': 'Greece',
    'GRL': 'Greenland',
    'GRD': 'Grenada',
    'GLP': 'Guadeloupe',
    'GUM': 'Guam',
    'GTM': 'Guatemala',
    'GGY': 'Guernsey',
    'GIN': 'Guinea',
    'GNB': 'Guinea-Bissau',
    'GUY': 'Guyana',
    'HTI': 'Haiti',
    'HMD': 'Heard Island and McDonald Islands',
    'VAT': 'Holy See (the)',
    'HND': 'Honduras',
    'HKG': 'Hong Kong',
    'HUN': 'Hungary',
    'ISL': 'Iceland',
    'IND': 'India',
    'IDN': 'Indonesia',
    'IRN': 'Iran (Islamic Republic of)',
    'IRQ': 'Iraq',
    'IRL': 'Ireland',
    'IMN': 'Isle of Man',
    'ISR': 'Israel',
    'ITA': 'Italy',
    'JAM': 'Jamaica',
    'JPN': 'Japan',
    'JEY': 'Jersey',
    'JOR': 'Jordan',
    'KAZ': 'Kazakhstan',
    'KEN': 'Kenya',
    'KIR': 'Kiribati',
    'PRK': 'Korea (the Democratic People\'s Republic of)',
    'KOR': 'Korea (the Republic of)',
    'KWT': 'Kuwait',
    'KGZ': 'Kyrgyzstan',
    'LAO': 'Lao People\'s Democratic Republic (the)',
    'LVA': 'Latvia',
    'LBN': 'Lebanon',
    'LSO': 'Lesotho',
    'LBR': 'Liberia',
    'LBY': 'Libya',
    'LIE': 'Liechtenstein',
    'LTU': 'Lithuania',
    'LUX': 'Luxembourg',
    'MAC': 'Macao',
    'MDG': 'Madagascar',
    'MWI': 'Malawi',
    'MYS': 'Malaysia',
    'MDV': 'Maldives',
    'MLI': 'Mali',
    'MLT': 'Malta',
    'MHL': 'Marshall Islands (the)',
    'MTQ': 'Martinique',
    'MRT': 'Mauritania',
    'MUS': 'Mauritius',
    'MYT': 'Mayotte',
    'MEX': 'Mexico',
    'FSM': 'Micronesia (Federated States of)',
    'MDA': 'Moldova (the Republic of)',
    'MCO': 'Monaco',
    'MNG': 'Mongolia',
    'MNE': 'Montenegro',
    'MSR': 'Montserrat',
    'MAR': 'Morocco',
    'MOZ': 'Mozambique',
    'MMR': 'Myanmar',
    'NAM': 'Namibia',
    'NRU': 'Nauru',
    'NPL': 'Nepal',
    'NLD': 'Netherlands (the)',
    'NCL': 'New Caledonia',
    'NZL': 'New Zealand',
    'NIC': 'Nicaragua',
    'NER': 'Niger (the)',
    'NGA': 'Nigeria',
    'NIU': 'Niue',
    'NFK': 'Norfolk Island',
    'MNP': 'Northern Mariana Islands (the)',
    'NOR': 'Norway',
    'OMN': 'Oman',
    'PAK': 'Pakistan',
    'PLW': 'Palau',
    'PSE': 'Palestine, State of',
    'PAN': 'Panama',
    'PNG': 'Papua New Guinea',
    'PRY': 'Paraguay',
    'PER': 'Peru',
    'PHL': 'Philippines (the)',
    'PCN': 'Pitcairn',
    'POL': 'Poland',
    'PRT': 'Portugal',
    'PRI': 'Puerto Rico',
    'QAT': 'Qatar',
    'MKD': 'Republic of North Macedonia',
    'ROU': 'Romania',
    'RUS': 'Russian Federation (the)',
    'RWA': 'Rwanda',
    'REU': 'Réunion',
    'BLM': 'Saint Barthélemy',
    'SHN': 'Saint Helena, Ascension and Tristan da Cunha',
    'KNA': 'Saint Kitts and Nevis',
    'LCA': 'Saint Lucia',
    'MAF': 'Saint Martin (French part)',
    'SPM': 'Saint Pierre and Miquelon',
    'VCT': 'Saint Vincent and the Grenadines',
    'WSM': 'Samoa',
    'SMR': 'San Marino',
    'STP': 'Sao Tome and Principe',
    'SAU': 'Saudi Arabia',
    'SEN': 'Senegal',
    'SRB': 'Serbia',
    'SYC': 'Seychelles',
    'SLE': 'Sierra Leone',
    'SGP': 'Singapore',
    'SXM': 'Sint Maarten (Dutch part)',
    'SVK': 'Slovakia',
    'SVN': 'Slovenia',
    'SLB': 'Solomon Islands',
    'SOM': 'Somalia',
    'ZAF': 'South Africa',
    'SGS': 'South Georgia and the South Sandwich Islands',
    'SSD': 'South Sudan',
    'ESP': 'Spain',
    'LKA': 'Sri Lanka',
    'SDN': 'Sudan (the)',
    'SUR': 'Suriname',
    'SJM': 'Svalbard and Jan Mayen',
    'SWZ': 'Eswatini',
    'SWE': 'Sweden',
    'CHE': 'Switzerland',
    'SYR': 'Syrian Arab Republic',
    'TWN': 'Taiwan (Province of China)',
    'TJK': 'Tajikistan',
    'TZA': 'Tanzania, United Republic of',
    'THA': 'Thailand',
    'TLS': 'Timor-Leste',
    'TGO': 'Togo',
    'TKL': 'Tokelau',
    'TON': 'Tonga',
    'TTO': 'Trinidad and Tobago',
    'TUN': 'Tunisia',
    'TUR': 'Turkey',
    'TKM': 'Turkmenistan',
    'TCA': 'Turks and Caicos Islands (the)',
    'TUV': 'Tuvalu',
    'UGA': 'Uganda',
    'UKR': 'Ukraine',
    'ARE': 'United Arab Emirates',
    'GBR': 'United Kingdom of Great Britain and Northern Ireland',
    'USA': 'United States of America (the)',
    'UMI': 'United States Minor Outlying Islands',
    'URY': 'Uruguay',
    'UZB': 'Uzbekistan',
    'VUT': 'Vanuatu',
    'VEN': 'Venezuela (Bolivarian Republic of)',
    'VNM': 'Viet Nam',
    'VGB': 'Virgin Islands (British)',
    'VIR': 'Virgin Islands (U.S.)',
    'WLF': 'Wallis and Futuna',
    'ESH': 'Western Sahara',
    'YEM': 'Yemen',
    'ZMB': 'Zambia',
    'ZWE': 'Zimbabwe'
}

dfC['Country'] = dfC['location_code'].map(code_to_country)
dfC.rename(columns={'year': 'Year'}, inplace=True)
cols = ['Year'] + ['Country'] + [col for col in dfC.columns if col not in ['Year', 'Country']]
dfC = dfC[cols]

total_cells = dfC.size
nan_cells = dfC.isna().sum().sum()
proportion_nan = nan_cells / total_cells if total_cells > 0 else 0
print(f"Proportion of NaN values: {proportion_nan:.2%}")
print("First few rows of the updated DataFrame:")

dfC.to_csv('updated_country_hsproduct4digit_year.csv', index=False)

dfC.head()

Proportion of NaN values: 8.22%
First few rows of the updated DataFrame:

,Year,Country,location_id,product_id,export_value,import_value,export_rca,product_status,cog,distance,normalized_distance,normalized_cog,normalized_pci,export_rpop,is_new,hs_eci,hs_coi,pci,location_code,hs_product_code
0,1994,Aruba,0,650,0.0,4007.0,0.00000,NaN,0.000991,0.993055,0.140437,-0.345626,0.058587,0.0,0,0.580963,-0.604102,0.062836,ABW,0101
1,1995,Aruba,0,650,18008.0,7199.0,0.13323,NaN,0.001376,0.987581,1.270676,-0.197988,0.031559,0.0,0,-0.502999,-0.713013,0.040311,ABW,0101
2,1996,Aruba,0,650,0.0,4021.0,0.00000,NaN,0.000861,0.992854,1.147078,-0.338379,-0.047561,0.0,0,-0.681487,-0.709990,-0.042549,ABW,0101
3,1997,Aruba,0,650,0.0,0.0,0.00000,NaN,0.001408,0.993152,0.181889,-0.172005,-0.014992,0.0,0,-1.290819,-0.824577,-0.006854,ABW,0101
4,1998,Aruba,0,650,0.0,0.0,0.00000,NaN,0.001530,0.987481,0.819724,-0.072847,0.101849,0.0,0,0.197883,-0.726349,0.107328,ABW,0101

In [26]:
hs_code_to_product_name = {
    "0101": "Live horses, purebred breeding animals",
    "0102": "Live bovine animals",
    "0103": "Live swine",
    "0104": "Live sheep and goats",
    "0105": "Live poultry",
    "0106": "Other live animals",
    "0201": "Meat of bovine animals, fresh or chilled",
    "0202": "Meat of bovine animals, frozen",
    "0203": "Meat of swine, fresh, chilled, or frozen",
    "0204": "Meat of sheep or goats, fresh, chilled, or frozen",
    "0205": "Meat of horses, asses, mules, and hinnies, fresh, chilled, or frozen",
    "0206": "Edible offal of bovine animals, swine, sheep, goats, horses, asses, mules, and hinnies",
    "0207": "Meat and edible offal of poultry, fresh, chilled, or frozen",
    "0208": "Other meat and edible offal, fresh, chilled, or frozen",
    "0209": "Pig fat, free of lean meat, and other pork fat",
    "0210": "Meat and edible offal of fish, crustaceans, and mollusks",
    "0301": "Fish, live",
    "0302": "Fish, fresh or chilled, excluding fish fillets and other fish meat",
    "0303": "Fish, frozen",
    "0304": "Fish fillets and other fish meat, fresh, chilled, or frozen",
    "0305": "Crustaceans, live, fresh, or chilled",
    "0306": "Crustaceans, frozen, dried, salted, or in brine",
    "0307": "Mollusks and other aquatic invertebrates, live, fresh, or chilled",
    "0308": "Mollusks and other aquatic invertebrates, frozen, dried, or in brine",
    "0401": "Milk and cream, not concentrated or containing added sugar or other sweetening matter",
    "0402": "Milk and cream, concentrated or containing added sugar or other sweetening matter",
    "0403": "Buttermilk, curdled milk, and cream",
    "0404": "Whey and milk products, concentrated or containing added sugar or other sweetening matter",
    "0405": "Butter and other fats and oils derived from milk",
    "0406": "Cheese and curd",
    "0407": "Birds' eggs, in shell, fresh, preserved, or cooked",
    "0408": "Birds' eggs, not in shell, and egg yolks, fresh, preserved, or cooked",
    "0501": "Human hair, unworked",
    "0502": "Animal products, unworked or simply prepared",
    "0503": "Fish bones, fish meal, and other fish waste",
    "0504": "Guts, bladders, and stomachs of animals",
    "0505": "Animal products, other than those specified in other headings",
    "0506": "Bone, horn, and hoof products",
    "0507": "Ivory, tortoiseshell, whalebone, and other animal products",
    "0508": "Coral, sea shells, and similar products",
    "0509": "Other animal products",
    "0510": "Products of animal origin, not elsewhere specified",
    "0601": "Bulbs, tubers, tuberous roots, corms, crowns, and rhizomes, live",
    "0602": "Live trees and other plants, roots, cuttings, and slips",
    "0603": "Cut flowers and flower buds",
    "0604": "Foliage, branches, and other parts of plants",
    "0701": "Potatoes, fresh or chilled",
    "0702": "Tomatoes, fresh or chilled",
    "0703": "Onions, fresh or chilled",
    "0704": "Cabbage and other brassicas, fresh or chilled",
    "0705": "Lettuce and chicory, fresh or chilled",
    "0706": "Carrots and turnips, fresh or chilled",
    "0707": "Cucumbers and gherkins, fresh or chilled",
    "0708": "Leguminous vegetables, fresh or chilled",
    "0709": "Asparagus, fresh or chilled",
    "0710": "Vegetables, frozen",
    "0711": "Vegetables, dried",
    "0712": "Dried vegetables and mushrooms",
    "0713": "Vegetables, preserved or prepared",
    "0801": "Coconuts, Brazil nuts, and cashew nuts",
    "0802": "Peanuts, not roasted or otherwise cooked",
    "0803": "Bananas, including plantains, fresh or dried",
    "0804": "Dates, figs, pineapples, avocados, and guavas",
    "0805": "Citrus fruits, fresh or dried",
    "0806": "Grapes, fresh or dried",
    "0807": "Melons and papayas",
    "0808": "Apples, pears, and quinces",
    "0809": "Stone fruits, fresh or dried",
    "0810": "Other fruits, fresh or dried",
    "0811": "Fruit, frozen, dried, or preserved",
    "0812": "Fruit and nuts, prepared or preserved",
    "0813": "Fruit, preserved or prepared",
    "0814": "Nuts, fresh or dried",
    "0901": "Coffee, not roasted",
    "0902": "Tea, whether or not flavored",
    "0903": "Pepper, dried or ground",
    "0904": "Cinnamon and cinnamon-tree flowers",
    "0905": "Vanilla",
    "0906": "Cloves (whole fruit, cloves, and stems)",
    "0907": "Nutmeg, mace, and cardamom",
    "0908": "Tamarind",
    "0909": "Spices, other than those specified in other headings",
    "1001": "Wheat and meslin",
    "1002": "Rye",
    "1003": "Barley",
    "1004": "Oats",
    "1005": "Maize (corn)",
    "1006": "Rice",
    "1007": "Grain sorghum",
    "1008": "Buckwheat, millet, and canary seed",
    "1009": "Other cereals",
    "1101": "Wheat flour",
    "1102": "Cereal flours other than wheat or meslin",
    "1103": "Cereal groats and meal",
    "1104": "Cereal grains, prepared",
    "1105": "Corn starch",
    "1106": "Malt",
    "1107": "Brewing or distilling dregs and waste",
    "1108": "Starches and other food industry residues",
    "1201": "Soybeans",
    "1202": "Peanuts",
    "1203": "Copra",
    "1204": "Linseed",
    "1205": "Sunflower seeds",
    "1206": "Rapeseed",
    "1207": "Other oilseeds and oleaginous fruits",
    "1208": "Flour and meal of oilseeds",
    "1209": "Oilcakes and other solid residues",
    "1210": "Locust beans and other seeds",
    "1211": "Plants and parts of plants used in perfumery or medicine",
    "1212": "Psyllium seeds and other medicinal plants",
    "1213": "Ginseng and other roots and tubers",
    "1214": "Seaweeds and other algae",
    "1301": "Gum, resins, and other plant exudates",
    "1302": "Vegetable saps and extracts",
    "1401": "Cork and articles of cork",
    "1402": "Vegetable plaiting materials",
    "1403": "Manufactures of bamboo, rattan, and other similar materials",
    "1501": "Pig fat, free of lean meat",
    "1502": "Bovine fats",
    "1503": "Lard",
    "1504": "Fats of poultry",
    "1505": "Butter",
    "1506": "Other animal fats",
    "1507": "Soya-bean oil",
    "1508": "Sunflower-seed or safflower oil",
    "1509": "Olive oil",
    "1510": "Other oils and fats of animal or vegetable origin",
    "1511": "Palm oil",
    "1512": "Coconut oil",
    "1513": "Other vegetable fats and oils",
    "1514": "Vegetable oil and its fractions",
    "1515": "Animal or vegetable fats and oils, processed",
    "1601": "Sausages and similar products of meat, offal, or blood",
    "1602": "Other prepared or preserved meat, offal, or blood",
    "1603": "Extracts of meat, fish, or other animal products",
    "1604": "Prepared or preserved fish",
     "1605": "Crustaceans, mollusks, and other aquatic invertebrates, prepared or preserved",
    "1606": "Other prepared or preserved foodstuffs",
    "1701": "Cane or beet sugar and chemically pure sucrose",
    "1702": "Other sugars, including lactose, maltose, glucose, and fructose",
    "1703": "Molasses from sugar cane or beet",
    "1704": "Sugar confectionery",
    "1801": "Cocoa beans, whole or broken",
    "1802": "Cocoa shells, husks, and other cocoa waste",
    "1803": "Cocoa paste, whether or not defatted",
    "1804": "Cocoa butter, fat, and oil",
    "1805": "Cocoa powder, containing added sugar or other sweetening matter",
    "1806": "Chocolate and other food preparations containing cocoa",
    "1901": "Malts, whether or not roasted",
    "1902": "Pasta, whether or not cooked or stuffed",
    "1903": "Tapioca and substitutes thereof",
    "1904": "Prepared foods obtained by swelling or roasting cereal grains",
    "1905": "Bread, pastry, cakes, biscuits, and other bakers' wares",
    "2001": "Vegetables, fruit, nuts, and other plant parts, prepared or preserved",
    "2002": "Tomatoes prepared or preserved otherwise than by vinegar or acetic acid",
    "2003": "Mushrooms and truffles, prepared or preserved",
    "2004": "Vegetables, fruit, nuts, and other plant parts preserved by vinegar or acetic acid",
    "2005": "Vegetables, fruit, nuts, and other plant parts preserved otherwise than by vinegar or acetic acid",
    "2006": "Fruit juices and vegetable juices",
    "2007": "Jams, fruit jellies, marmalades, and other fruit or nut purees",
    "2008": "Fruit, nuts, and other edible parts of plants, prepared or preserved",
    "2101": "Extracts, essences, and concentrates of coffee, tea, or maté",
    "2102": "Yeasts and other fungi, prepared",
    "2103": "Sauces and preparations therefor",
    "2104": "Soups, broths, and preparations thereof",
    "2105": "Ice cream and other edible ice",
    "2201": "Waters, including mineral waters and aerated waters",
    "2202": "Non-alcoholic beverages, not including water",
    "2203": "Beer made from malt",
    "2204": "Wine of fresh grapes, including fortified wine",
    "2205": "Vermouth and other wine of fresh grapes flavored with plants or spices",
    "2206": "Other fermented beverages (e.g., cider, perry)",
    "2207": "Undenatured ethyl alcohol of an alcoholic strength exceeding 80% by volume",
    "2208": "Ethyl alcohol and other spirits, liqueurs, and other spirituous beverages",
    "2301": "Flour, meal, and powder of the cereal grains",
    "2302": "Bran, sharps, and other residues of cereal milling",
    "2303": "Plant residues, including fruit and vegetable wastes",
    "2304": "Oilcakes and other residues from the extraction of oil",
    "2305": "Brewery grains, other residues, and waste",
    "2306": "Animal feeds",
    "2401": "Unmanufactured tobacco and tobacco refuse",
    "2402": "Cigars, cheroots, and cigarillos",
    "2403": "Cigarettes",
    "2404": "Other manufactured tobacco products",
    "2501": "Salt, rock salt, and other natural salts",
    "2502": "Sulfates, excluding those of iron or steel",
    "2503": "Phosphates and polyphosphates",
    "2504": "Natural or artificial abrasives",
    "2505": "Other mineral substances, including clays and sands",
    "2601": "Iron ores and concentrates",
    "2602": "Manganese ores and concentrates",
    "2603": "Copper ores and concentrates",
    "2604": "Nickel ores and concentrates",
    "2605": "Cobalt ores and concentrates",
    "2606": "Aluminium ores and concentrates",
    "2607": "Lead ores and concentrates",
    "2608": "Zinc ores and concentrates",
    "2609": "Tin ores and concentrates",
    "2610": "Tungsten ores and concentrates",
    "2611": "Other ores and concentrates",
    "2701": "Coal, whether or not pulverized",
    "2702": "Lignite and peat",
    "2703": "Petroleum oils and oils obtained from bituminous minerals",
    "2704": "Bituminous coal, whether or not agglomerated",
    "2705": "Coke and semi-coke",
    "2706": "Tar, pitch, and bitumen",
    "2707": "Wood charcoal",
    "2801": "Mineral water and aerated waters",
    "2802": "Sulfur",
    "2803": "Carbon",
    "2804": "Hydrogen, nitrogen, and oxygen",
    "2805": "Nonmetals and their compounds",
    "2901": "Acyclic hydrocarbons",
    "2902": "Cyclic hydrocarbons",
    "2903": "Halogenated derivatives of hydrocarbons",
    "2904": "Oxygenated derivatives of hydrocarbons",
    "2905": "Sulfonated derivatives of hydrocarbons",
    "2906": "Other organic chemicals",
    "2907": "Polyphenols and derivatives",
    "2908": "Other organic compounds",
    "3001": "Glands and other organs for organotherapeutic uses",
    "3002": "Human or animal blood",
    "3003": "Medicaments, including veterinary products",
    "3004": "Medicaments, put up for retail sale",
    "3005": "Wadding, gauze, bandages, and similar products",
    "3006": "Pharmaceutical products",
    "3101": "Animal or vegetable fertilizers",
    "3102": "Mineral or chemical fertilizers",
    "3103": "Fertilizer mixtures",
    "3104": "Manure or compost",
    "3201": "Tannins and other plant extracts",
    "3202": "Synthetic organic dyes and pigments",
    "3203": "Paints and varnishes",
    "3204": "Other chemical preparations",
    "3301": "Essential oils and resinoids",
    "3302": "Mixtures of odoriferous substances and preparations",
    "3401": "Soap and organic surface-active agents",
    "3402": "Organic surface-active agents",
    "3501": "Casein and caseinates",
    "3502": "Albumins and albumin derivatives",
    "3503": "Gelatin",
    "3504": "Peptones and derivatives",
    "3505": "Other proteins and derivatives",
    "3601": "Propellant powders",
    "3602": "Pyrotechnic products",
    "3603": "Safety fuses, detonating fuses, and igniters",
    "3701": "Photographic plates and film",
    "3702": "Photographic paper and film",
    "3703": "Photographic chemicals and preparations",
    "3704": "Cinematographic film, exposed and developed",
    "3801": "Artificial graphite",
    "3802": "Activated carbon",
    "3803": "Industrial monocarboxylic fatty acids",
    "3804": "Insecticides, fungicides, and herbicides",
    "3805": "Other chemical products",
    "3901": "Polymers of ethylene",
    "3902": "Polymers of propylene",
    "3903": "Polymers of styrene",
    "3904": "Polymers of vinyl chloride",
    "3905": "Polymers of other olefins",
    "3906": "Acrylic polymers",
    "3907": "Polyurethanes",
    "3908": "Silicones",
    "3909": "Other synthetic polymers",
    "4001": "Natural rubber",
    "4002": "Synthetic rubber",
    "4003": "Reclaimed rubber",
    "4004": "Rubber articles",
    "4101": "Raw hides and skins",
    "4102": "Leather, full grain and split",
    "4103": "Leather, other types",
    "4201": "Leather apparel",
    "4202": "Travel goods and handbags",
    "4203": "Articles of leather, not elsewhere specified",
    "4301": "Raw furskins",
    "4302": "Prepared furskins",
    "4303": "Furskin articles",
    "4401": "Wood and timber",
    "4402": "Wood charcoal",
    "4403": "Wood products",
    "4501": "Natural cork",
    "4502": "Cork articles",
    "4601": "Plaiting materials",
    "4602": "Articles of plaiting materials",
    "4701": "Waste and scrap of paper or paperboard",
    "4702": "Mechanical wood pulp",
    "4703": "Chemical wood pulp",
    "4704": "Semi-chemical wood pulp",
    "4705": "Pulps of other fibrous materials",
    "4801": "Newsprint",
    "4802": "Uncoated paper and paperboard",
    "4803": "Coated paper and paperboard",
    "4804": "Kraft paper and paperboard",
    "4805": "Other paper and paperboard",
    "4901": "Printed books, newspapers, and periodicals",
    "4902": "Children's picture books and similar publications",
    "4903": "Maps, plans, and globes",
    "4904": "Other printed materials",
    "5001": "Silk, raw",
    "5002": "Silk yarn",
    "5003": "Silk fabrics",
    "5101": "Wool, raw",
    "5102": "Wool, carded or combed",
    "5103": "Wool fabrics",
    "5201": "Cotton, raw",
    "5202": "Cotton yarn",
    "5203": "Cotton fabrics",
    "5301": "Flax, raw",
    "5302": "Flax yarn",
    "5303": "Flax fabrics",
    "5401": "Synthetic filament yarn",
    "5402": "Synthetic staple fibers",
    "5403": "Synthetic fabrics",
    "5501": "Synthetic fibers, waste",
    "5502": "Synthetic fiber yarn",
    "5503": "Synthetic fiber fabrics",
    "5601": "Nonwovens",
    "5602": "Felt and articles of felt",
    "5603": "Textile waste",
    "5801": "Woven fabrics of silk",
    "5802": "Woven fabrics of cotton",
    "5803": "Woven fabrics of synthetic fibers",
    "5901": "Textile fabrics coated with plastics",
    "5902": "Textile fabrics impregnated with chemicals",
    "6001": "Knitted or crocheted fabrics",
    "6002": "Knitted or crocheted garments",
    "6201": "Men's or boys' garments",
    "6202": "Women's or girls' garments",
    "6301": "Blankets and travel rugs",
    "6302": "Bed linens",
    "6303": "Curtains and drapes",
    "6401": "Footwear, rubber or plastics",
    "6402": "Footwear, leather",
    "6501": "Hats and headgear",
    "6502": "Headbands and hair accessories",
    "6601": "Umbrellas and walking sticks",
    "6602": "Walking sticks and whips",
    "6701": "Feathers and down",
    "6702": "Artificial flowers and foliage",
    "6703": "Other artificial articles",
    "6801": "Stone, crushed or powdered",
    "6802": "Worked stone",
    "6803": "Articles of stone, plaster, and cement",
    "6901": "Ceramic products",
    "6902": "Ceramic tiles and paving",
    "6903": "Porcelain or china",
    "7001": "Glass in sheets or panels",
    "7002": "Glass containers",
    "7003": "Glassware",
    "7004": "Glass beads and articles",
    "7005": "Glass fibers and articles",
    "7101": "Gold, unwrought",
    "7102": "Gold, semi-manufactured",
    "7103": "Platinum, unwrought",
    "7104": "Platinum, semi-manufactured",
    "7105": "Palladium, unwrought",
    "7106": "Palladium, semi-manufactured",
    "7201": "Pig iron and spiegeleisen",
    "7202": "Ferrous waste and scrap",
    "7203": "Pig iron and ferro-alloys",
    "7204": "Steel billets, blooms, and slabs",
    "7205": "Flat-rolled products of iron or non-alloy steel",
    "7206": "Flat-rolled products of alloy steel",
    "7207": "Bars and rods of iron or non-alloy steel",
    "7208": "Bars and rods of alloy steel",
    "7301": "Iron or steel pipes and tubes",
    "7302": "Iron or steel pipe fittings",
    "7303": "Iron or steel structures and parts",
    "7304": "Iron or steel articles",
    "7401": "Copper, unwrought",
    "7402": "Copper, semi-manufactured",
    "7403": "Copper articles",
    "7501": "Nickel, unwrought",
    "7502": "Nickel, semi-manufactured",
    "7503": "Nickel articles",
    "7601": "Aluminum, unwrought",
    "7602": "Aluminum, semi-manufactured",
    "7603": "Aluminum articles",
    "7701": "Tin, unwrought",
    "7702": "Tin, semi-manufactured",
    "7703": "Tin articles",
    "7801": "Lead, unwrought",
    "7802": "Lead, semi-manufactured",
    "7803": "Lead articles",
    "7901": "Zinc, unwrought",
    "7902": "Zinc, semi-manufactured",
    "7903": "Zinc articles",
    "8001": "Tin, unwrought",
    "8002": "Tin, semi-manufactured",
    "8003": "Tin articles",
    "8101": "Tungsten, unwrought",
    "8102": "Tungsten, semi-manufactured",
    "8103": "Tungsten articles",
    "8201": "Hand tools",
    "8202": "Tools for working in the hand",
    "8203": "Tools for agricultural or horticultural use",
    "8204": "Tools for various purposes",
    "8301": "Metal structures and parts",
    "8302": "Metal fittings and hardware",
    "8303": "Miscellaneous metal articles",
    "8401": "Nuclear reactors and parts",
    "8402": "Boilers and machinery",
    "8403": "Central heating boilers",
    "8404": "Auxiliary plant for engines",
    "8405": "Internal combustion engines",
    "8501": "Electric motors and generators",
    "8502": "Electric transformers and converters",
    "8503": "Batteries and accumulators",
    "8504": "Electrical distribution equipment",
    "8505": "Electromagnetic coils and electrical apparatus",
    "8601": "Railway or tramway locomotives",
    "8602": "Railway or tramway coaches",
    "8603": "Railway or tramway rolling stock",
    "8604": "Railway or tramway track fixtures",
    "8701": "Motor vehicles for transporting people",
    "8702": "Motor vehicles for transporting goods",
    "8703": "Motor vehicles for special purposes",
    "8704": "Motor vehicle parts and accessories",
    "8801": "Aircraft and spacecraft",
    "8802": "Aircraft and spacecraft parts",
    "8901": "Ships and boats",
    "8902": "Ships and boats parts",
    "9001": "Optical instruments and photographic equipment",
    "9002": "Telescopes and microscopes",
    "9003": "Cameras and camera accessories",
    "9004": "Other optical instruments",
    "9101": "Wristwatches",
    "9102": "Pocket watches",
    "9103": "Clocks and watches",
    "9201": "Musical instruments",
    "9202": "Musical instrument parts",
    "9301": "Arms and ammunition",
    "9302": "Parts and accessories of arms",
    "9401": "Furniture",
    "9402": "Mattresses and cushions",
    "9403": "Articles of bedding and similar articles",
    "9501": "Toys and games",
    "9502": "Dolls and toys",
    "9503": "Articles for sports and outdoor games",
    "9504": "Other toys and games",
    "9601": "Articles of plastic",
    "9602": "Articles of rubber",
    "9603": "Miscellaneous manufactured articles",
}

input_file = "updated_country_hsproduct4digit_year.csv"
df = pd.read_csv(input_file,low_memory=False)

# Ensure the 'hs_product_code' column exists
if 'hs_product_code' in df.columns:
    # Map HS codes to product names
    df['Product_name'] = df['hs_product_code'].map(hs_code_to_product_name)

    # Save the updated DataFrame to a new CSV file
    output_file = "updated_country_hsproduct4digit_year_with_names.csv"
    df.to_csv(output_file, index=False)
    print(f"Updated file saved as: {output_file}")
else:
    print("Column 'hs_product_code' not found in the dataset.")

Updated file saved as: updated_country_hsproduct4digit_year_with_names.csv

In [29]:
try1 = pd.read_csv("updated_country_hsproduct4digit_year_with_names.csv",low_memory=False)
try1.head()

,Year,Country,location_id,product_id,export_value,import_value,export_rca,product_status,cog,distance,...,normalized_cog,normalized_pci,export_rpop,is_new,hs_eci,hs_coi,pci,location_code,hs_product_code,Product_name
0,1994,Aruba,0,650,0.0,4007.0,0.00000,NaN,0.000991,0.993055,...,-0.345626,0.058587,0.0,0,0.580963,-0.604102,0.062836,ABW,0101,"Live horses, purebred breeding animals"
1,1995,Aruba,0,650,18008.0,7199.0,0.13323,NaN,0.001376,0.987581,...,-0.197988,0.031559,0.0,0,-0.502999,-0.713013,0.040311,ABW,0101,"Live horses, purebred breeding animals"
2,1996,Aruba,0,650,0.0,4021.0,0.00000,NaN,0.000861,0.992854,...,-0.338379,-0.047561,0.0,0,-0.681487,-0.709990,-0.042549,ABW,0101,"Live horses, purebred breeding animals"
3,1997,Aruba,0,650,0.0,0.0,0.00000,NaN,0.001408,0.993152,...,-0.172005,-0.014992,0.0,0,-1.290819,-0.824577,-0.006854,ABW,0101,"Live horses, purebred breeding animals"
4,1998,Aruba,0,650,0.0,0.0,0.00000,NaN,0.001530,0.987481,...,-0.072847,0.101849,0.0,0,0.197883,-0.726349,0.107328,ABW,0101,"Live horses, purebred breeding animals"

In [16]:
file_names = [
    "Carbon_Footprint_of_Bank_Loans.csv",
    "Climate-driven INFORM Risk.csv",
    "Green Debt.csv"
]


for i, file_name in enumerate(file_names):
    data_frame = pd.read_csv(file_name)


    if 'year' in data_frame.columns:
        data_frame.rename(columns={'year': 'Year'}, inplace=True)
    
    if 'Country' in data_frame.columns:
        cols = ['Year', 'Country'] + [col for col in data_frame.columns if col not in ['Year', 'Country']]
        data_frame = data_frame[cols]
        

    total_rows = len(data_frame)
    nan_rows = data_frame.isna().any(axis=1).sum()
    nan_proportion_rows = nan_rows / total_rows if total_rows > 0 else 0
    nan_cells = data_frame.isna().sum().sum()
    total_cells = data_frame.size
    nan_proportion_cells = nan_cells / total_cells if total_cells > 0 else 0
    
    print(f"\nProcessed {file_name}:")
    print(f"Number of rows with NaN values: {nan_rows}")
    print(f"Proportion of rows with NaN values: {nan_proportion_rows:.2%}")
    print(f"Number of NaN cells: {nan_cells}")
    print(f"Proportion of NaN cells: {nan_proportion_cells:.2%}")
    
    data_frame.to_csv(f"modified_{file_name}", index=False)
    
    print(f"\nProcessed {file_name}:")
    display(data_frame.head())

Processed Carbon_Footprint_of_Bank_Loans.csv:
Number of rows with NaN values: 568
Proportion of rows with NaN values: 25.36%
Number of NaN cells: 568
Proportion of NaN cells: 2.11%

Processed Carbon_Footprint_of_Bank_Loans.csv:

,Year,Country,CTS_Code,CTS_Full_Descriptor,CTS_Name,ISO2,ISO3,Indicator,ObjectId,Source,Unit,value
0,2005,Argentina,ECFLIN,"Environment, Climate Change, Financial and Phy...",Carbon Footprint-Adjusted Loans to Total Loans...,AR,ARG,Carbon Footprint of Bank Loans (Based on emiss...,1,"OECD (2021), OECD Inter-Country Input-Output D...",Ratio,NaN
1,2005,Argentina,ECFLI,"Environment, Climate Change, Financial and Phy...",Carbon Footprint-Adjusted Loans to Total Loans...,AR,ARG,Carbon Footprint of Bank Loans (Based on emiss...,2,"OECD (2021), OECD Inter-Country Input-Output D...",Ratio,NaN
2,2005,Argentina,ECFLMN,"Environment, Climate Change, Financial and Phy...",Carbon Footprint-Adjusted Loans to Total Loans...,AR,ARG,Carbon Footprint of Bank Loans (Based on emiss...,3,"OECD (2021), OECD Inter-Country Input-Output D...",Ratio,NaN
3,2005,Argentina,ECFLM,"Environment, Climate Change, Financial and Phy...",Carbon Footprint-Adjusted Loans to Total Loans...,AR,ARG,Carbon Footprint of Bank Loans (Based on emiss...,4,"OECD (2021), OECD Inter-Country Input-Output D...",Ratio,NaN
4,2005,Belgium,ECFLIN,"Environment, Climate Change, Financial and Phy...",Carbon Footprint-Adjusted Loans to Total Loans...,BE,BEL,Carbon Footprint of Bank Loans (Based on emiss...,5,"OECD (2021), OECD Inter-Country Input-Output D...",Ratio,NaN

Processed Climate-driven INFORM Risk.csv:
Number of rows with NaN values: 160
Proportion of rows with NaN values: 2.09%
Number of NaN cells: 1240
Proportion of NaN cells: 1.35%

Processed Climate-driven INFORM Risk.csv:

,Year,Country,CTS Code,CTS Full Descriptor,CTS Name,ISO2,ISO3,Indicator,ObjectId,Source,Unit,value
0,2013,"Afghanistan, Islamic Rep. of",ECFRMH,"Environment, Climate Change, Financial and Phy...",Climate-Driven Hazard & Exposure,AF,AFG,Climate-driven Hazard & Exposure,1,Disaster Risk Management Knowledge Centre (DRM...,Index,6.3
1,2013,"Afghanistan, Islamic Rep. of",ECFRMR,"Environment, Climate Change, Financial and Phy...",Climate-Driven Inform Risk Indicator,AF,AFG,Climate-driven INFORM Risk Indicator,2,Disaster Risk Management Knowledge Centre (DRM...,Index,7.3
2,2013,"Afghanistan, Islamic Rep. of",ECFRMC,"Environment, Climate Change, Financial and Phy...",Index for Risk Management; Lack of Coping Capa...,AF,AFG,Lack of coping capacity,3,Disaster Risk Management Knowledge Centre (DRM...,Index,8.2
3,2013,"Afghanistan, Islamic Rep. of",ECFRMV,"Environment, Climate Change, Financial and Phy...",Index for Risk Management; Vulnerability,AF,AFG,Vulnerability,4,Disaster Risk Management Knowledge Centre (DRM...,Index,7.6
4,2013,Albania,ECFRMH,"Environment, Climate Change, Financial and Phy...",Climate-Driven Hazard & Exposure,AL,ALB,Climate-driven Hazard & Exposure,5,Disaster Risk Management Knowledge Centre (DRM...,Index,4.3

Processed Green Debt.csv:
Number of rows with NaN values: 8770
Proportion of rows with NaN values: 95.02%
Number of NaN cells: 15011
Proportion of NaN cells: 10.84%

Processed Green Debt.csv:

,Year,Country,CTS_Code,CTS_Full_Descriptor,CTS_Name,ISO2,ISO3,Indicator,ObjectId,Principal_Currency,Source,Type_of_Issuer,Unit,Use_of_Proceed,value
0,1990,Argentina,ECFFI,"Environment, Climate Change, Financial and Phy...",Green Bonds Issuances,AR,ARG,Green Bond Issuances by Country,1,Not Applicable,Refinitiv. Accessed on 2023-03-29; Country aut...,Not Applicable,Billion US Dollars,Not Applicable,NaN
1,1990,Australia,ECFFI,"Environment, Climate Change, Financial and Phy...",Green Bonds Issuances,AU,AUS,Green Bond Issuances by Country,2,Not Applicable,Refinitiv. Accessed on 2023-03-29; Country aut...,Not Applicable,Billion US Dollars,Not Applicable,NaN
2,1990,Austria,ECFFI,"Environment, Climate Change, Financial and Phy...",Green Bonds Issuances,AT,AUT,Green Bond Issuances by Country,3,Not Applicable,Refinitiv. Accessed on 2023-03-29; Country aut...,Not Applicable,Billion US Dollars,Not Applicable,NaN
3,1990,Austria,ECFF,"Environment, Climate Change, Financial and Phy...",Green Bonds,AT,AUT,Sovereign Green Bond Issuances,4,Not Applicable,Refinitiv. Accessed on 2023-03-29; Country aut...,Not Applicable,Billion US Dollars,Not Applicable,NaN
4,1990,Bangladesh,ECFFI,"Environment, Climate Change, Financial and Phy...",Green Bonds Issuances,BD,BGD,Green Bond Issuances by Country,5,Not Applicable,Refinitiv. Accessed on 2023-03-29; Country aut...,Not Applicable,Billion US Dollars,Not Applicable,NaN

In [18]:


fileAC = [
    "Atmospheric_CO%E2%82%82_Concentrations.csv",
    "Change_in_Mean_Sea_Levels.csv"
]
  
for i, file_name in enumerate(fileAC):
    df = pd.read_csv(file_name)
    
    #cut down month and day
    if 'Date' in df.columns:
        df['Year'] = df['Date'].astype(str).str[:4] if i == 0 else df['Date'].astype(str).str[-4:]
    
    if 'ISO3' in df.columns:
        df['Country'] = df['ISO3'].map(code_to_country)
    cols = ['Year'] + ['Country'] + [col for col in df.columns if col not in ['Year', 'Country']]
    df = df[cols]
    
    total_rows = len(df)
    nan_rows = df.isna().any(axis=1).sum()
    nan_proportion = nan_rows / total_rows if total_rows > 0 else 0
    nan_cells = df.isna().sum().sum()
    total_cells = df.size
    cell_nan_proportion = nan_cells / total_cells if total_cells > 0 else 0
    
    print(f"\nProcessed {file_name}:")
    print(f"Number of rows with NaN values: {nan_rows}")
    print(f"Proportion of rows with NaN values: {nan_proportion:.2%}")
    print(f"Number of NaN cells: {nan_cells}")
    print(f"Proportion of NaN cells: {cell_nan_proportion:.2%}")
    
    new_filename = f"modified_{file_name}"
    df.to_csv(new_filename, index=False)
    
    print(f"\nProcessed and saved {new_filename}:")
    display(df.head())

Processed Atmospheric_CO%E2%82%82_Concentrations.csv:
Number of rows with NaN values: 1570
Proportion of rows with NaN values: 100.00%
Number of NaN cells: 1570
Proportion of NaN cells: 7.69%

Processed and saved modified_Atmospheric_CO%E2%82%82_Concentrations.csv:

,Year,Country,ObjectId,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value
0,1958,World,1,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M03,315.70
1,1958,World,2,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M04,317.45
2,1958,World,3,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M05,317.51
3,1958,World,4,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M06,317.24
4,1958,World,5,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M07,315.86

Processed Change_in_Mean_Sea_Levels.csv:
Number of rows with NaN values: 35604
Proportion of rows with NaN values: 100.00%
Number of NaN cells: 35604
Proportion of NaN cells: 7.14%

Processed and saved modified_Change_in_Mean_Sea_Levels.csv:

,Year,Country,ObjectId,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value
0,1992,World,1,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Andaman Sea,D12/17/1992,-10.34
1,1992,World,2,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Arabian Sea,D12/17/1992,-18.46
2,1992,World,3,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Atlantic Ocean,D12/17/1992,-15.41
3,1992,World,4,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Baltic Sea,D12/17/1992,196.85
4,1992,World,5,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Bay Bengal,D12/17/1992,3.27

In [19]:
for file in fileAC:
    df = pd.read_csv(file)
    
    if 'Date' in df.columns:
        nan_rows_count = df['Date'].isna().sum()
        
        print(f"Number of rows with NaN values in 'Date' column in '{file}': {nan_rows_count}")
    else:
        print(f"'Date' column not found in '{file}'.")

Number of rows with NaN values in 'Date' column in 'Atmospheric_CO%E2%82%82_Concentrations.csv': 0
Number of rows with NaN values in 'Date' column in 'Change_in_Mean_Sea_Levels.csv': 0

In [20]:
filesY = [
    'BTZ_raw_na copy.csv',
    'BTO_raw_na copy.csv',
    'FSS_raw_na copy.csv',
    'FCD_raw_na copy.csv',
    'PSU_raw_na copy.csv',
    'PRS_raw_na copy.csv',
    'RMS_raw_na copy.csv',
    'RCY_raw_na copy.csv',
    'SNM_raw_na copy.csv'
]

def rename_columns_to_years(df):
    new_columns = {}
    for col in df.columns:
        parts = col.split('.')
        if len(parts) > 1 and parts[-1].isdigit():
            new_columns[col] = parts[-1] 
    df = df.rename(columns=new_columns)
    return df

for file in filesY:
    try:
        df = pd.read_csv(file)
        modified_df = rename_columns_to_years(df)
        
        total_rows = len(modified_df)
        nan_rows = modified_df.isna().any(axis=1).sum()
        nan_proportion_rows = nan_rows / total_rows if total_rows > 0 else 0
        nan_cells = modified_df.isna().sum().sum()
        total_cells = modified_df.size
        nan_proportion_cells = nan_cells / total_cells if total_cells > 0 else 0

        print(f"\nProcessed {file}:")
        print(f"Number of rows with NaN values: {nan_rows}")
        print(f"Proportion of rows with NaN values: {nan_proportion_rows:.2%}")
        print(f"Number of NaN cells: {nan_cells}")
        print(f"Proportion of NaN cells: {nan_proportion_cells:.2%}")
        
        print("\nFirst few rows of the DataFrame:")
        display(modified_df.head())
        
    except Exception as e:
        print(f"Error reading {file}: {e}")

Processed BTZ_raw_na copy.csv:
Number of rows with NaN values: 71
Proportion of rows with NaN values: 32.27%
Number of NaN cells: 4970
Proportion of NaN cells: 30.95%

First few rows of the DataFrame:

,code,iso,country,1950,1951,1952,1953,1954,1955,1956,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,ALB,Albania,0.768800,0.768800,0.768800,0.768452,0.766511,0.767103,0.767404,...,0.653983,0.796816,0.797610,0.797559,0.734199,0.804167,0.758582,0.744352,0.753202,0.752195
2,12,DZA,Algeria,0.295667,0.280603,0.299795,0.284328,0.281010,0.305970,0.306406,...,0.240564,0.200641,0.200786,0.191498,0.191077,0.205029,0.211157,0.200514,0.210681,0.209007
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.433832,0.531701,0.557969,0.649529,0.650734,0.730928,0.468986,...,0.403239,0.420887,0.424467,0.434922,0.433772,0.355287,0.380418,0.397531,0.386236,0.406875

Processed BTO_raw_na copy.csv:
Number of rows with NaN values: 51
Proportion of rows with NaN values: 23.18%
Number of NaN cells: 3570
Proportion of NaN cells: 22.23%

First few rows of the DataFrame:

,code,iso,country,1950,1951,1952,1953,1954,1955,1956,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,ALB,Albania,0.768800,0.768800,0.768800,0.768800,0.768800,0.768800,0.768800,...,0.796531,0.797089,0.797610,0.797613,0.735155,0.804167,0.758582,0.738710,0.753203,0.752242
2,12,DZA,Algeria,0.295584,0.280289,0.299501,0.284015,0.280807,0.305654,0.306211,...,0.256522,0.222385,0.219291,0.211598,0.209722,0.209618,0.201776,0.210563,0.218470,0.219109
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.435833,0.534638,0.558921,0.650964,0.652710,0.735869,0.471598,...,0.317810,0.348157,0.348447,0.371065,0.380620,0.261360,0.305799,0.322919,0.312334,0.272262

Processed FSS_raw_na copy.csv:
Number of rows with NaN values: 102
Proportion of rows with NaN values: 46.36%
Number of NaN cells: 7140
Proportion of NaN cells: 44.46%

First few rows of the DataFrame:

,code,iso,country,1950,1951,1952,1953,1954,1955,1956,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,ALB,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,DZA,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.11,0.149985,0.189981,0.200000,0.180000,0.150000,0.149985,0.260000,0.290029,0.250000
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.82,5.129487,5.390000,4.739526,4.939506,5.349465,7.090000,6.759324,6.000000,3.820382

Processed FCD_raw_na copy.csv:
Number of rows with NaN values: 59
Proportion of rows with NaN values: 26.82%
Number of NaN cells: 4130
Proportion of NaN cells: 25.72%

First few rows of the DataFrame:

,code,iso,country,1950,1951,1952,1953,1954,1955,1956,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,ALB,Albania,0.134816,0.134816,0.134816,0.134816,0.134816,0.134816,0.134816,...,0.236265,0.236566,0.236721,0.236722,0.222876,0.238368,0.228135,0.223235,0.239848,0.238325
2,12,DZA,Algeria,0.080058,0.082022,0.072062,0.083843,0.086516,0.083039,0.092796,...,0.111720,0.113134,0.113115,0.115036,0.116595,0.117291,0.115425,0.127496,0.133867,0.128939
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.072122,0.075951,0.089690,0.087664,0.075249,0.067668,0.061556,...,0.079504,0.085128,0.083337,0.085952,0.094812,0.074632,0.074323,0.067178,0.090733,0.090342

Processed PSU_raw_na copy.csv:
Number of rows with NaN values: 56
Proportion of rows with NaN values: 25.45%
Number of NaN cells: 2379
Proportion of NaN cells: 18.02%

First few rows of the DataFrame:

,code,iso,country,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,AFG,Afghanistan,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00986,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.02202,0.02202,0.02202,0.02202
1,8,ALB,Albania,8.07366,8.12122,8.48982,10.12838,11.94626,13.43988,15.05330,...,13.66118,13.94386,14.35862,14.86264,15.61710,15.94782,15.28444,14.76248,14.30808,13.08288
2,12,DZA,Algeria,0.12262,0.13118,0.16888,0.18320,0.31448,0.62434,1.11674,...,0.00000,0.00000,0.19328,0.19468,0.19468,0.19468,0.19468,0.00140,0.00000,0.00000
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00656,...,0.28820,0.28820,0.29942,0.29942,0.20814,0.03034,0.03034,0.01912,0.01912,0.01912

Processed PRS_raw_na copy.csv:
Number of rows with NaN values: 0
Proportion of rows with NaN values: 0.00%
Number of NaN cells: 0
Proportion of NaN cells: 0.00%

First few rows of the DataFrame:

   code  iso      country      2015      2018
0     4  AFG  Afghanistan  1.771012  2.160360
1     8  ALB      Albania  1.486172  1.542041
2    12  DZA      Algeria  1.049052  1.142514
3    20  AND      Andorra  0.201284  0.329801
4    24  AGO       Angola  0.132794  0.098512

Processed RMS_raw_na copy.csv:
Number of rows with NaN values: 72
Proportion of rows with NaN values: 32.73%
Number of NaN cells: 2232
Proportion of NaN cells: 29.84%

First few rows of the DataFrame:

,code,iso,country,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,ALB,Albania,-0.005597,-0.004843,-0.002695,0.001027,0.005361,0.009943,0.012073,...,0.015386,0.012485,0.009962,0.010516,0.011537,0.013567,0.019766,0.023382,0.023395,0.020991
2,12,DZA,Algeria,-0.000916,-0.001480,-0.001922,-0.002207,-0.002476,-0.002698,-0.003211,...,-0.008768,-0.008384,-0.007282,-0.005561,-0.003389,-0.001130,0.000732,0.002044,0.002593,0.002449
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.001638,-0.003592,-0.008934,-0.013985,-0.017140,-0.017460,-0.015899,...,0.002779,0.001362,-0.000248,-0.001640,-0.002839,-0.003390,-0.003292,-0.003087,-0.002578,-0.001402

Processed RCY_raw_na copy.csv:
Number of rows with NaN values: 115
Proportion of rows with NaN values: 52.27%
Number of NaN cells: 6254
Proportion of NaN cells: 43.73%

First few rows of the DataFrame:

,code,iso,country,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,4,AFG,Afghanistan,0.240149,0.234154,0.212162,0.230196,0.236612,0.218400,0.261943,...,0.488597,0.480885,0.505187,0.467792,0.480772,0.513477,0.502485,0.466749,0.466922,0.497401
1,8,ALB,Albania,0.126671,0.147072,0.145808,0.155520,0.160090,0.196864,0.213828,...,0.742232,0.732016,0.731333,0.707836,0.722891,0.726639,0.752388,0.773541,0.755823,0.771860
2,12,DZA,Algeria,0.091167,0.223836,0.216016,0.134820,0.157635,0.104240,0.162476,...,0.520459,0.403357,0.407199,0.303705,0.296957,0.554528,0.502806,0.437055,0.415074,0.470046
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.206844,0.203782,0.199973,0.209926,0.213229,0.208054,0.211454,...,0.383865,0.287596,0.300457,0.238109,0.241755,0.267516,0.272603,0.281988,0.282192,0.293627

Processed SNM_raw_na copy.csv:
Number of rows with NaN values: 56
Proportion of rows with NaN values: 25.45%
Number of NaN cells: 2379
Proportion of NaN cells: 18.02%

First few rows of the DataFrame:

,code,iso,country,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,AFG,Afghanistan,0.918340,0.926166,0.932354,0.935410,0.939422,0.953124,0.966273,...,0.850809,0.826859,0.827125,0.839290,0.838298,0.882097,0.924573,0.933344,0.916546,0.905754
1,8,ALB,Albania,1.045958,1.024855,1.015333,1.014690,1.019563,1.021863,1.037909,...,1.048921,1.039574,1.034436,1.036758,1.038646,1.038099,1.038121,1.040979,1.034101,1.026900
2,12,DZA,Algeria,0.961318,0.980744,0.964646,0.956481,0.958821,0.963220,0.972674,...,0.855739,0.818394,0.828825,0.834559,0.843166,0.855784,0.848197,0.823090,0.808397,0.807832
3,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,AGO,Angola,0.913652,0.911994,0.911050,0.909695,0.907036,0.903895,0.903129,...,0.881191,0.869942,0.885117,0.896604,0.905854,0.881121,0.887776,0.875268,0.862968,0.853191

In [23]:
file = 'updated_country_hsproduct4digit_year.csv'
df_updated = pd.read_csv(file, low_memory=False)


if 'hs_product_code' in df_updated.columns:
    unique_hs_product_codes = df_updated['hs_product_code'].unique()
    print("Unique hs_product_codes:")
    for code in unique_hs_product_codes:
        print(code)
else:
    print("The 'hs_product_code' column is not present in the file.")

Unique hs_product_codes:
0101
0102
0103
0104
0105
0106
0201
0202
0203
0204
0205
0206
0207
0208
0209
0210
0301
0302
0303
0304
0305
0306
0307
0401
0402
0403
0404
0405
0406
0407
0408
0409
0410
0501
0502
0503
0504
0505
0506
0507
0508
0509
0510
0511
0601
0602
0603
0604
0701
0702
0703
0704
0705
0706
0707
0708
0709
0710
0711
0712
0713
0714
0801
0802
0803
0804
0805
0806
0807
0808
0809
0810
0811
0812
0813
0814
0901
0902
0903
0904
0905
0906
0907
0908
0909
0910
1001
1002
1003
1004
1005
1006
1007
1008
1101
1102
1103
1104
1105
1106
1107
1108
1109
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1301
1302
1401
1402
1403
1404
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1601
1602
1603
1604
1605
1701
1702
1703
1704
1801
1802
1803
1804
1805
1806
1901
1902
1903
1904
1905
2001
2002
2003
2004
2005
2006
2007
2008
2009
2101
2102
2103
2104
2105
2106
2201
2202
2203
2204
2205
2206
2207
2208
2209
2301
2302
2303
2304
2305
2306
2307
2308
2309
2401
2402
2403
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
3001
3002
3003
3004
3005
3006
3101
3102
3103
3104
3105
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3301
3302
3303
3304
3305
3306
3307
3401
3402
3403
3404
3405
3406
3407
3501
3502
3503
3504
3505
3506
3507
3601
3602
3603
3604
3605
3606
3701
3702
3703
3704
3705
3706
3707
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
4001
4002
4003
4004
4005
4006
4007
4008
4009
4010
4011
4012
4013
4014
4015
4016
4017
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4201
4202
4203
4204
4205
4206
4301
4302
4303
4304
4401
4402
4403
4404
4405
4406
4407
4408
4409
4410
4411
4412
4413
4414
4415
4416
4417
4418
4419
4420
4421
4501
4502
4503
4504
4601
4602
4701
4702
4703
4704
4705
4706
4707
4801
4802
4803
4804
4805
4806
4807
4808
4809
4810
4811
4812
4813
4814
4815
4816
4817
4818
4819
4820
4821
4822
4823
4901
4902
4903
4904
4905
4906
4907
4908
4909
4910
4911
5001
5002
5003
5004
5005
5006
5007
5101
5102
5103
5104
5105
5106
5107
5108
5109
5110
5111
5112
5113
5201
5202
5203
5204
5205
5206
5207
5208
5209
5210
5211
5212
5301
5302
5303
5304
5305
5306
5307
5308
5309
5310
5311
5401
5402
5403
5404
5405
5406
5407
5408
5501
5502
5503
5504
5505
5506
5507
5508
5509
5510
5511
5512
5513
5514
5515
5516
5601
5602
5603
5604
5605
5606
5607
5608
5609
5701
5702
5703
5704
5705
5801
5802
5803
5804
5805
5806
5807
5808
5809
5810
5811
5901
5902
5903
5904
5905
5906
5907
5908
5909
5910
5911
6001
6002
6101
6102
6103
6104
6105
6106
6107
6108
6109
6110
6111
6112
6113
6114
6115
6116
6117
6201
6202
6203
6204
6205
6206
6207
6208
6209
6210
6211
6212
6213
6214
6215
6216
6217
6301
6302
6303
6304
6305
6306
6307
6308
6309
6310
6401
6402
6403
6404
6405
6406
6501
6502
6503
6504
6505
6506
6507
6601
6602
6603
6701
6702
6703
6704
6801
6802
6803
6804
6805
6806
6807
6808
6809
6810
6811
6812
6813
6814
6815
6901
6902
6903
6904
6905
6906
6907
6908
6909
6910
6911
6912
6913
6914
7001
7002
7003
7004
7005
7006
7007
7008
7009
7010
7011
7012
7013
7014
7015
7016
7017
7018
7019
7020
7101
7102
7103
7104
7105
7106
7107
7108
7109
7110
7111
7112
7113
7114
7115
7116
7117
7118
7201
7202
7203
7204
7205
7206
7207
7208
7209
7210
7211
7212
7213
7214
7215
7216
7217
7218
7219
7220
7221
7222
7223
7224
7225
7226
7227
7228
7229
7301
7302
7303
7304
7305
7306
7307
7308
7309
7310
7311
7312
7313
7314
7315
7316
7317
7318
7319
7320
7321
7322
7323
7324
7325
7326
7401
7402
7403
7404
7405
7406
7407
7408
7409
7410
7411
7412
7413
7414
7415
7416
7417
7418
7419
7501
7502
7503
7504
7505
7506
7507
7508
7601
7602
7603
7604
7605
7606
7607
7608
7609
7610
7611
7612
7613
7614
7615
7616
7801
7802
7803
7804
7805
7806
7901
7902
7903
7904
7905
7906
7907
8001
8002
8003
8004
8005
8006
8007
8101
8102
8103
8104
8105
8106
8107
8108
8109
8110
8111
8112
8113
8201
8202
8203
8204
8205
8206
8207
8208
8209
8210
8211
8212
8213
8214
8215
8301
8302
8303
8304
8305
8306
8307
8308
8309
8310
8311
8401
8402
8403
8404
8405
8406
8407
8408
8409
8410
8411
8412
8413
8414
8415
8416
8417
8418
8419
8420
8421
8422
8423
8424
8425
8426
8427
8428
8429
8430
8431
8432
8433
8434
8435
8436
8437
8438
8439
8440
8441
8442
8443
8444
8445
8446
8447
8448
8449
8450
8451
8452
8453
8454
8455
8456
8457
8458
8459
8460
8461
8462
8463
8464
8465
8466
8467
8468
8469
8470
8471
8472
8473
8474
8475
8476
8477
8478
8479
8480
8481
8482
8483
8484
8485
8501
8502
8503
8504
8505
8506
8507
8508
8509
8510
8511
8512
8513
8514
8515
8516
8517
8518
8519
8520
8521
8522
8523
8524
8525
8526
8527
8528
8529
8530
8531
8532
8533
8534
8535
8536
8537
8538
8539
8540
8541
8542
8543
8544
8545
8546
8547
8548
8601
8602
8603
8604
8605
8606
8607
8608
8609
8701
8702
8703
8704
8705
8706
8707
8708
8709
8710
8711
8712
8713
8714
8715
8716
8801
8802
8803
8804
8805
8901
8902
8903
8904
8905
8906
8907
8908
9001
9002
9003
9004
9005
9006
9007
9008
9009
9010
9011
9012
9013
9014
9015
9016
9017
9018
9019
9020
9021
9022
9023
9024
9025
9026
9027
9028
9029
9030
9031
9032
9033
9101
9102
9103
9104
9105
9106
9107
9108
9109
9110
9111
9112
9113
9114
9201
9202
9203
9204
9205
9206
9207
9208
9209
9301
9302
9303
9304
9305
9306
9307
9401
9402
9403
9404
9405
9406
9501
9502
9503
9504
9505
9506
9507
9508
9601
9602
9603
9604
9605
9606
9607
9608
9609
9610
9611
9612
9613
9614
9615
9616
9617
9618
9701
9702
9703
9704
9705
9706
XXXX
unspecified
travel
transport
ict
financial
9999